/* Global */

@font-face {
  font-family: "Bower";
  src: url('../bower-font/McKinseySans-Regular.woff2');
  src: 
      url('../bower-font/Bower-Bold.woff2') format('woff2'),
      url('../bower-font/McKinseySans-Regular.woff2') format('woff2'),
      url('../bower-font/McKinseySans-Italic.woff2') format('woff2'),
      url('../bower-font/McKinseySans-Light.woff2') format('woff2'),
      url('../bower-font/McKinseySans-LightItalic.woff2') format('woff2'),
      url('../bower-font/McKinseySans-Medium.woff2') format('woff2'),
      url('../bower-font/McKinseySans-MediumItalic.woff2') format('woff2');
}

.logo {
  height: 5rem;
}

